<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main">
        <a href="/">go back</a>
        <div class="formhai">
    
            <form action="/edit" method="post">
    
                <input class="tx1" type="text" name="previous" placeholder="pervious name" value="<%= filename %>">
                <input class="tx1" type="text" name="newname"  placeholder="new name">
    
              
                <input class="btn" type="submit" value="update">
    
            </form>
        </div>
    </div>
</body>
</html>

