<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="icon" href="img/logoTitle.png">
  <script src="/javascripts/script.js" defer></script>
  <script src="/javascripts/cart.js" async></script>
  <script src="/javascripts/sproduct-2.js"></script>
  <script src="/javascripts/shop.js" async></script>
  <title> shop | &nbsp;Product Details</title>
</head>

<body>
  <!-- NAVBAR -->
  <section id="header">
    <a href="#"><img src="/img/weblogo.png" alt="" /></a>

    <div>
      <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>
        <li id="lg-bag">
          <a href="/cart"><i class="fa-solid fa-shopping-bag"></i></a>
        </li>
        <a href="#" id="close"><i class="fa fa-times"></i></a>
      </ul>
    </div>
    <div id="mobile">
      <a href="/cart"><i class="fa-solid fa-shopping-bag"></i></a>
      <i id="bar" class="fas fa-outdent"></i>
    </div>
  </section>

  <!-- Product details -->

  <section id="prodetails" class="section-p1">
    <div class="single-pro-image">
      <img src="" width="100%" id="MainImg" alt="" />
      <div class="small-img-group">
        <div class="small-img-col">
          <img src="" width="100%" class="small-img" alt="" />
        </div>
        <div class="small-img-col">
          <img src="" width="100%" class="small-img" alt="" />
        </div>
        <div class="small-img-col">
          <img src="" width="100%" class="small-img" alt="" />
        </div>
        <div class="small-img-col">
          <img src="" width="100%" class="small-img" alt="" />
        </div>
      </div>
    </div>

    <div class="single-pro-details">
      <h6>Home /irshad</h6>
      <h5>MANGO</h5>
      <h4></h4>
      <h2></h2>
      <select name="" id="" >
        <option value="">Select KG/G</option>
        <option value="">200g</option>
        <option value="">500g</option>
        <option value="">1kg</option>
        <option value="">3kg</option>
        <option value="">5kg</option>

      </select>
      <input type="number" name="" id="" value="1" min="1" />
      <button class="normal" id="add-to-cart" >Add To Cart</button>
      <h4 style="padding: 20px 0 15px 0;">Product Details</h4>
      <span>ge of colors, it offers it all in the
        ultimate head turning package.
      </span>
    </div>
  </section>
  <!-- Featured products -->

  <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
      <div class="pro">
        <img src="/img/urbanic_img/floral/jalabe4.jpg" alt="" />
        <div class="des">
          <span>Urbanic</span>
          <h5>Floral Black Dress</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>₹ 799</h4>
        </div>
        <!-- <i class="fa fa-shopping-cart cart"></i> -->
      </div>
      <div class="pro">
        <img src="/img/urbanic_img/jeans/ladoo6.jpg" alt="" />
        <div class="des">
          <span>Urbanic</span>
          <h5>Floral Pink Dress</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>₹ 829</h4>
        </div>
        <!-- <i class="fa fa-shopping-cart cart"></i> -->
      </div>
      <div class="pro">
        <img src="/img/urbanic_img/tshirt/cake7.jpg" alt="" />
        <div class="des">
          <span>Urbanic</span>
          <h5>Floral Blue Dress</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>₹ 1299</h4>
        </div>
        <!-- <i class="fa fa-shopping-cart cart"></i> -->
      </div>
      <div class="pro">
        <img src="/img/urbanic_img/lipstick/kajukatre3.webp" alt="" />
        <div class="des">
          <span>Urbanic</span>
          <h5>Floral Green Dress</h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h4>₹ 689</h4>
        </div>
        <!-- <i class="fa fa-shopping-cart cart"></i> -->
      </div>

    </div>
  </section>

  <!-- Newsletter -->

  <!-- <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign up For Newsletter</h4>
      <p>
        Get E-mail updates about out latest shop and
        <span>special offer.</span>
      </p>
    </div>
    <div class="form">
      <input type="text" placeholder="Your email address" />
      <button class="normal">Sign up</button>
    </div>
  </section> -->

  <!-- Footer -->
  <footer class="section-p1">
    <div class="col">
      <img class="logo" src="/img/weblogo.png" alt="logo" />
      <h4>Contact</h4>
      <p><b>Address:</b> Ghatoper (E), Mumbai,Maharashtra</p>
      <p><b>Phone:</b>(+91) 9004606238</p>

      <div class="follow">
        <h4>Follow On Social Media</h4>
        <div class="icon">
          <i class="fab fa-linkedin" style="font-size:18px"
            onclick="window.location.href='www.linkedin.com/in/mihir2403';"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <h4>About</h4>
      <a href="/about">About us</a>
      <a href="#">Terms & Conditions</a>
      <a href="/contact">Contact us</a>
    </div>
    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="/cart">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="/about">Help</a>
    </div>
    <div class="col install">

      <p>Secured Payment Gateway</p>
      <img src="img/pay/pay.png" alt="" />
    </div>
    <div class="copyright">

    </div>
  </footer>

  <!-- Custom script -->

  <script>
    var MainImg = document.getElementById("MainImg");
    var smallImg = document.getElementsByClassName("small-img");

    var detailsSection = document.getElementsByClassName("single-pro-details")[0];

    smallImg[0].onclick = function () {
      MainImg.src = smallImg[0].src;

      detailsSection.getElementsByTagName('h4')[0].innerHTML = localStorage.getItem("p_srcSmallTitle0");
      detailsSection.getElementsByTagName('h2')[0].innerHTML = localStorage.getItem("p_srcSmallPrice0");


    };
    smallImg[1].onclick = function () {
      MainImg.src = smallImg[1].src;

      detailsSection.getElementsByTagName('h4')[0].innerHTML = localStorage.getItem("p_srcSmallTitle1");
      detailsSection.getElementsByTagName('h2')[0].innerHTML = localStorage.getItem("p_srcSmallPrice1");

    };
    smallImg[2].onclick = function () {
      MainImg.src = smallImg[2].src;

      detailsSection.getElementsByTagName('h4')[0].innerHTML = localStorage.getItem("p_srcSmallTitle2");
      detailsSection.getElementsByTagName('h2')[0].innerHTML = localStorage.getItem("p_srcSmallPrice2");
    };
    smallImg[3].onclick = function () {
      MainImg.src = smallImg[3].src;

      detailsSection.getElementsByTagName('h4')[0].innerHTML = localStorage.getItem("p_srcSmallTitle3");
      detailsSection.getElementsByTagName('h2')[0].innerHTML = localStorage.getItem("p_srcSmallPrice3");
    };


  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>